.ControlPanel-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 25px;
  background-color: #eee;
  height: 450px;
  width: 400px;
  border-radius: 3px;
}
